@color1: rgb(4, 37, 58);
@color2: rgb(228, 221, 191);
@color3: rgb(76, 131, 122);
@Montserrat: "Montserrat", sans-serif;

.container-movies1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  .allMovies {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin-top: 5rem;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      transform: translate(0%, 0%);
      width: 22%;
      height: 35%;
      margin: 1rem;

      .poster {
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
        }
      }

      .poster::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #000 50%, transparent);
        transition: 0.5s;
        z-index: 1;
      }

      .details1 {
        position: absolute;
        padding: 1.3rem;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        transition: 0.5s;
        z-index: 2;
        h2 {
          font-family: @Montserrat;
          font-weight: 600;
          color: @color2;
        }
        .raiting {
          position: relative;
          padding: 1rem 0;

          .fas {
            color: #f7f406;
            font-size: 1rem;
            margin-right: 0.2rem;
          }
          .far {
            color: #f7f406;
            font-size: 1rem;
            margin-right: 0.2rem;
          }
          span {
            font-size: 1rem 0;
            color: @color2;
            font-family: @Montserrat;
            font-weight: 600;
          }
        }
      }
      .genres {
        position: relative;
        margin-top: 0.2rem;
      }
    }
  }
  .search-bar {
    width: 50%;
    height: 5rem;
    padding: 1rem;
    position: absolute;
    top: 6rem;
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      input {
        width: 100%;
        height: 100%;
        border: none;
        background-color: #fff;
        font-size: 1rem;
        font-weight: 400;
        font-family: @Montserrat;
        color: @color1;
        border-radius: 10px;
        padding: 0.8rem;
        position: relative;
        &:focus {
          outline: none;
        }
        &:active {
          outline: none;
        }
        &::placeholder {
          color: @color1;
          font-size: 1rem;
        }
      }
      button {
        width: 20%;
        height: 100%;
        border: none;
        background-color: #fff;
        border-radius: 10px;
        font-weight: 400;
        margin-left: -0.8rem;
        i {
          color: @color1;
          font-size: 1.3rem;
          &:hover {
            cursor: pointer;
            color: @color3;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
