@color1: rgb(4, 37, 58);
@color2: rgb(228, 221, 191);
@color3: rgb(76, 131, 122);
@Montserrat: "Montserrat", sans-serif;

.detail-movie {
  display: flex;
  margin: 1rem;
}

.detail-cast {
  display: flex;
  margin-left: 1rem;
  img {
    width: 20vh;
    height: 30vh;
    border-radius: 20px;
    margin-right: 1rem;
  }
}
