@color1: rgb(4, 37, 58);
@color2: rgb(228, 221, 191);
@color3: rgb(76, 131, 122);

.footer-container {
  background-color: @color1;
  border-top: 1px solid #ddd;
  padding: 10px 15px;
  margin-top: 20px;
  text-align: center;
  height: 5rem;
  footer {
    text-align: center;
    a {
      border-radius: 50%;
      font-size: 2.5rem;
      margin-left: 2rem;
      color: @color3;
      &:hover {
        color: @color2;
      }
    }
  }
}
