.nav-container {
  width: 100%;
  height: 4rem;
  background-color: #04253a;
}
.nav-container nav {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
}
.nav-container nav ul {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container nav ul a {
  text-decoration: none;
  background-image: linear-gradient(#e4ddbf, #e4ddbf);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.6s;
}
.nav-container nav ul a:nth-child(1) :nth-child(3):hover,
.nav-container nav ul a:nth-child(1) :nth-child(3):focus {
  background-size: 40% 2px;
}
.nav-container nav ul a:nth-child(2):hover,
.nav-container nav ul a:nth-child(2):focus {
  background-size: 50% 2px;
}
.nav-container nav ul a:nth-child(4):hover,
.nav-container nav ul a:nth-child(4):focus {
  background-size: 55% 2px;
}
.nav-container nav ul li {
  color: #e4ddbf;
  text-decoration: none;
  list-style: none;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 6rem;
  font-family: "Montserrat", sans-serif;
}
.nav-container nav input {
  width: 30%;
  height: 50%;
  border: none;
  background-color: rgba(228, 221, 191, 0.5);
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  border-radius: 10px;
  padding: 1.2rem;
  margin-right: 3rem;
  position: relative;
}
.nav-container nav input:focus {
  outline: none;
}
.nav-container nav input:active {
  outline: none;
}
.nav-container nav input::placeholder {
  color: #04253a;
  font-size: 1rem;
}
.nav-container nav i {
  color: #e4ddbf;
  font-size: 1.3rem;
  margin-right: 3rem;
  position: absolute;
  right: 1.5rem;
  color: #04253a;
}
.nav-container nav i:hover {
  cursor: pointer;
}
