.nav-container {
  width: 100%;
  height: 4rem;
  background-color: @color1;
  position: fixed;
  z-index: 50;
  top: 0;
  @media @phone {
    width: 100%;
  }
  nav {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    @media @phone {
      width: 100%;
    }
    .menu-hamburguer {
      display: none;
      @media @phone {
        display: flex;
        position: absolute;
        top: -1.9rem;
        font-size: 5rem;
        right: 2rem;
        cursor: pointer;
        i {
          font-size: 2rem;
          color: @color2;
        }
      }
    }

    ul {
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @media screen and (max-width: 768px) {
        background-color: @color1;
        z-index: 50;
        position: absolute;
        top: 4rem;
        left: -100%;
        width: 100%;
        height: 100vh;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        transition: 0.5s all ease;
      }

      .menu-navbar {
        @media screen and (max-width: 768px) {
          font-size: 1.5rem;
          width: 100%;
          height: 2rem;
          justify-content: center;
          align-items: center;
        }
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0.5rem 1rem;
        color: @color2;
        font-family: @Montserrat;
        font-weight: 400;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        list-style: none;
        font-size: 1.3rem;
        &:hover {
          background-color: @color3;
          transition: all 0.3s ease-in-out;
        }
        @media screen and (max-width: 768px) {
          height: 6rem;
          width: 100%;
          text-align: center;
          margin-top: 1rem;
        }

        i {
          font-size: 1.4rem;
          margin-right: 0.5rem;
          color: @color2;
        }
      }
    }
    .active {
      background-color: @color3;
    }
  }
}
