@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.nav-container {
  width: 100%;
  height: 5rem;
  background-color: #04253a;
}
.nav-container nav {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
}
.nav-container nav ul {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container nav ul a {
  text-decoration: none;
  background-image: linear-gradient(#e4ddbf, #e4ddbf);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.6s;
}
.nav-container nav ul a:nth-child(1):hover,
.nav-container nav ul a:nth-child(3):hover,
.nav-container nav ul a:nth-child(1):focus,
.nav-container nav ul a:nth-child(3):focus {
  background-size: 40% 2px;
}
.nav-container nav ul a:nth-child(2):hover,
.nav-container nav ul a:nth-child(2):focus {
  background-size: 50% 2px;
}
.nav-container nav ul a:nth-child(4):hover,
.nav-container nav ul a:nth-child(4):focus {
  background-size: 55% 2px;
}
.nav-container nav ul li {
  color: #e4ddbf;
  text-decoration: none;
  list-style: none;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 6rem;
  font-family: "Montserrat", sans-serif;
}
.nav-container nav input {
  width: 30%;
  height: 50%;
  border: none;
  background-color: rgba(228, 221, 191, 0.5);
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  border-radius: 10px;
  padding: 1.2rem;
  margin-right: 3rem;
  position: relative;
}
.nav-container nav input:focus {
  outline: none;
}
.nav-container nav input:active {
  outline: none;
}
.nav-container nav input::placeholder {
  color: #04253a;
  font-size: 1rem;
}
.nav-container nav i {
  color: #e4ddbf;
  font-size: 1.3rem;
  margin-right: 3rem;
  position: absolute;
  right: 1.5rem;
  color: #04253a;
}
.nav-container nav i:hover {
  cursor: pointer;
}
.main-container {
  width: 100%;
  height: 20rem;
  position: relative;
}
.main-container main {
  background-color: rgba(76, 131, 122, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container main h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.main-container main h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 4rem;
  font-family: "Montserrat", sans-serif;
}
.main-container main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  filter: grayscale(100%);
}
.container h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 1.5rem -10px;
  border: 5px solid #04253a;
  border-radius: 10px;
  background-color: #04253a;
  color: #e4ddbf;
  width: 25%;
}
.movie-container {
  width: 95%;
  margin: 1rem auto;
  height: 80%;
  background-color: #e4ddbf;
  padding: 0.5rem;
}
.movie-container img {
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
  .movie-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}
.slide {
  transform: scale(0.7);
  transition: transform 500ms;
  opacity: 0.5;
}
.slide img {
  width: 18rem;
  margin: 0 auto;
}
.slide h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #04253a;
  text-align: center;
  margin: 0.5rem;
}
.activeSlide {
  transform: scale(1);
  opacity: 1;
}
.arrow {
  padding: 2.5rem;
  border-radius: 20%;
  font-size: 1.6rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.arrow svg {
  transition: color 0.5s;
  margin-top: 0.4rem;
}
.arrow svg:hover {
  color: #04253a;
}
@media screen and (max-width: 800px) {
  .arrow {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .arrow {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .arrow {
    font-size: 0.8rem;
  }
}
.next {
  right: -1.5rem;
  top: 35%;
}
.prev {
  left: -1.5rem;
  top: 35%;
}
.container1 h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 1.5rem -10px;
  border: 5px solid #04253a;
  border-radius: 10px;
  background-color: #04253a;
  color: #e4ddbf;
  width: 20%;
}
.movie-container {
  width: 95%;
  margin: 1rem auto;
  height: 80%;
  padding: 0.5rem;
}
.movie-container img {
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
  .movie-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}
.slide {
  transform: scale(0.7);
  transition: transform 500ms;
  opacity: 0.5;
}
.slide img {
  width: 18rem;
  margin: 0 auto;
  box-shadow: 5px 5px 5px #111;
}
.slide h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #04253a;
  text-align: center;
  margin: 0.5rem;
}
.activeSlide {
  transform: scale(1);
  opacity: 1;
}
.arrow {
  color: #e4ddbf;
  background-color: #4c837a;
  padding: 0.5rem;
  border-radius: 20%;
  font-size: 1.6rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.arrow svg {
  transition: color 0.5s;
  margin-top: 0.4rem;
}
.arrow svg:hover {
  color: #04253a;
}
@media screen and (max-width: 800px) {
  .arrow {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .arrow {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .arrow {
    font-size: 0.8rem;
  }
}
.next {
  right: -1.5rem;
  top: 35%;
}
.prev {
  left: -1.5rem;
  top: 35%;
}
.detail-movie {
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem;
  margin-left: 0;
  margin-top: 0;
}
.detail-movie img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.container-movie-detail {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
  position: relative;
}
.container-movie-detail .img-fondo {
  width: 100%;
  height: 100%;
  background-color: #04253a;
  position: absolute;
  background-color: rgba(4, 37, 58, 0.9);
  z-index: 0;
}
.container-movie-detail .container-movie-detail-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.container-movie-detail .container-movie-detail-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -2;
}
.container-movie h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #e4ddbf;
  margin: 2rem -2rem;
  background-color: #04253a;
  padding: 0.5rem;
  border-radius: 5px;
  width: 20%;
  text-align: center;
}
.slide1 img {
  width: 9rem;
  border-radius: 10px;
  margin: 0.5rem;
}
.slide1 img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.slide1 h4 {
  font-family: "Montserrat", sans-serif;
  color: #04253a;
}
.slide1 p {
  font-family: "Montserrat", sans-serif;
  color: #4c837a;
}
.arrow1 {
  padding: 2.5rem;
  border-radius: 20%;
  font-size: 1.6rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.arrow1 svg {
  transition: color 0.5s;
  margin-top: 0.4rem;
}
.arrow1 svg:hover {
  color: #04253a;
}
@media screen and (max-width: 800px) {
  .arrow1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .arrow1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .arrow1 {
    font-size: 0.8rem;
  }
}
.next1 {
  right: -5rem;
  top: 20%;
}
.prev1 {
  left: -5rem;
  top: 20%;
}
.detail-cast {
  width: 90%;
  margin: 0 auto;
}
.detail-info {
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-left: 3rem;
}
.detail-info h1 {
  font-family: "Montserrat", sans-serif;
  color: #e4ddbf;
  font-size: 2.5rem;
}
.detail-info h1 span {
  font-size: 1.8rem;
  margin-left: 0.5rem;
}
.detail-info span {
  font-family: "Montserrat", sans-serif;
  color: #e4ddbf;
}
.detail-info p {
  font-family: "Montserrat", sans-serif;
  color: #e4ddbf;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.detail-info-rating-average i {
  font-size: 1.8rem;
  color: #e4ddbf;
  margin-right: 0.5rem;
}
.detail-info-rating-average p {
  color: #e4ddbf;
}
.detail-info-rating-average h4 {
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  font-family: "Montserrat", sans-serif;
  color: #e4ddbf;
  font-size: 1.5rem;
}
.detail-info-rating-count p {
  color: #e4ddbf;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.detail-info-rating-count i {
  font-size: 1.8rem;
  margin-right: 0.5rem;
}
.detail-info-rating-count a {
  color: #e4ddbf;
  font-size: 1.4rem;
  margin-left: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
.production-companies p {
  margin-bottom: 0.5rem;
}
.production-companies span {
  font-size: 1.2rem;
}
.detail-info-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #e4ddbf;
  background-color: #e4ddbf;
  color: #04253a;
  padding: 4px;
}
.detail-info-buttons button {
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
  background-color: #04253a;
  border: 1px solid #e4ddbf;
}
.detail-info-buttons i {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.btn-back {
  margin: 4rem 35rem;
  font-size: 1.2rem;
  color: #e4ddbf;
  width: 30%;
  text-align: center;
  background-color: #04253a;
  border: 1px solid #04253a;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
body {
  background-color: #e4ddbf;
}
