@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.nav-container {
  width: 100%;
  height: 5rem;
  background-color: #04253a;
}
.nav-container nav {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
}
.nav-container nav ul {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container nav ul a {
  text-decoration: none;
  background-image: linear-gradient(#e4ddbf, #e4ddbf);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.6s;
}
.nav-container nav ul a:nth-child(1):hover,
.nav-container nav ul a:nth-child(3):hover,
.nav-container nav ul a:nth-child(1):focus,
.nav-container nav ul a:nth-child(3):focus {
  background-size: 40% 2px;
}
.nav-container nav ul a:nth-child(2):hover,
.nav-container nav ul a:nth-child(2):focus {
  background-size: 50% 2px;
}
.nav-container nav ul a:nth-child(4):hover,
.nav-container nav ul a:nth-child(4):focus {
  background-size: 55% 2px;
}
.nav-container nav ul a:nth-child(5):hover,
.nav-container nav ul a:nth-child(5):focus {
  background-size: 57% 2px;
}
.nav-container nav ul li {
  color: #e4ddbf;
  text-decoration: none;
  list-style: none;
  font-size: 1.3rem;
  font-weight: 400;
  margin-right: 6rem;
  font-family: "Montserrat", sans-serif;
}
.nav-container nav form {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container nav form input {
  width: 100%;
  height: 50%;
  border: none;
  background-color: rgba(228, 221, 191, 0.5);
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  border-radius: 10px;
  padding: 1.2rem;
  margin-right: 3rem;
  position: relative;
}
.nav-container nav form input:focus {
  outline: none;
}
.nav-container nav form input:active {
  outline: none;
}
.nav-container nav form input::placeholder {
  color: #04253a;
  font-size: 1rem;
}
.nav-container nav form i {
  color: #e4ddbf;
  font-size: 1.3rem;
  margin-right: 3rem;
  position: absolute;
  right: 1.5rem;
  top: 1.8rem;
  color: #04253a;
}
.nav-container nav form i:hover {
  cursor: pointer;
}
.main-container {
  width: 100%;
  height: 20rem;
  position: relative;
}
.main-container main {
  background-color: rgba(76, 131, 122, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container main h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.main-container main h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 4rem;
  font-family: "Montserrat", sans-serif;
}
.main-container main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  filter: grayscale(100%);
}
.container h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 1.5rem -10px;
  border: 5px solid #04253a;
  border-radius: 10px;
  background-color: #04253a;
  color: #e4ddbf;
  width: 25%;
  font-weight: 600;
}
.movie-container {
  width: 95%;
  margin: 1rem auto;
  height: 80%;
  background-color: #e4ddbf;
  padding: 0.5rem;
}
.movie-container img {
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
  .movie-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}
.slide {
  transform: scale(0.7);
  transition: transform 500ms;
  opacity: 0.5;
}
.slide img {
  width: 18rem;
  margin: 0 auto;
}
.slide h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #04253a;
  text-align: center;
  margin: 0.5rem;
  font-weight: 600;
}
.activeSlide {
  transform: scale(1);
  opacity: 1;
}
.arrow {
  color: #e4ddbf;
  background-color: #4c837a;
  padding: 0.5rem;
  border-radius: 20%;
  font-size: 1.6rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.arrow svg {
  transition: color 0.5s;
  margin-top: 0.4rem;
}
.arrow svg:hover {
  color: #04253a;
}
@media screen and (max-width: 800px) {
  .arrow {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .arrow {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .arrow {
    font-size: 0.8rem;
  }
}
.next {
  right: -1.5rem;
  top: 35%;
}
.prev {
  left: -1.5rem;
  top: 35%;
}
.container4 h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 1.5rem -10px;
  border: 5px solid #04253a;
  border-radius: 10px;
  background-color: #04253a;
  color: #e4ddbf;
  width: 25%;
  font-weight: 600;
}
.serie-container {
  width: 95%;
  margin: 1rem auto;
  height: 80%;
  background-color: #e4ddbf;
  padding: 0.5rem;
}
.serie-container img {
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
  .serie-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}
.slide4 {
  transform: scale(0.7);
  transition: transform 500ms;
  opacity: 0.5;
}
.slide4 img {
  width: 18rem;
  margin: 0 auto;
}
.slide4 h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #04253a;
  text-align: center;
  margin: 0.5rem;
  font-weight: 600;
}
.activeSlide4 {
  transform: scale(1);
  opacity: 1;
}
.arrow4 {
  color: #e4ddbf;
  background-color: #4c837a;
  padding: 0.5rem;
  border-radius: 20%;
  font-size: 1.6rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.arrow4 svg {
  transition: color 0.5s;
  margin-top: 0.4rem;
}
.arrow4 svg:hover {
  color: #04253a;
}
@media screen and (max-width: 800px) {
  .arrow4 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .arrow4 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .arrow4 {
    font-size: 0.8rem;
  }
}
.next4 {
  right: -1.5rem;
  top: 40%;
}
.prev4 {
  left: -1.5rem;
  top: 40%;
}
.detail-movie {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem;
  margin-left: 0;
  margin-top: 0;
}
.detail-movie img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.container-movie-detail {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 3;
  position: relative;
}
.container-movie-detail .img-fondo {
  width: 100%;
  height: 100%;
  background-color: #04253a;
  position: absolute;
  background-color: rgba(4, 37, 58, 0.9);
  z-index: 0;
}
.container-movie-detail .container-movie-detail-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.container-movie-detail .container-movie-detail-img img {
  width: 100%;
  height: 100%;
  background-size: size;
  background-position: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -2;
}
.container-movie h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #e4ddbf;
  margin: 2rem -2rem;
  background-color: #04253a;
  padding: 0.5rem;
  border-radius: 5px;
  width: 20%;
  text-align: center;
}
.detail-info-buttons {
  margin-top: 1rem;
}
.detail-info-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #e4ddbf;
  background-color: #e4ddbf;
  color: #04253a;
  padding: 2px 10px;
}
.detail-info-buttons i {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.slide1 img {
  width: 9rem;
  border-radius: 10px;
  margin: 0.5rem;
}
.slide1 img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.slide1 h4 {
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  font-weight: 600;
}
.slide1 p {
  font-family: "Montserrat", sans-serif;
  color: #4c837a;
}
.arrow1 {
  padding: 2.5rem;
  border-radius: 20%;
  font-size: 1.6rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.arrow1 svg {
  transition: color 0.5s;
  margin-top: 0.4rem;
}
.arrow1 svg:hover {
  color: #04253a;
}
@media screen and (max-width: 800px) {
  .arrow1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .arrow1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .arrow1 {
    font-size: 0.8rem;
  }
}
.next1 {
  right: -5rem;
  top: 20%;
}
.prev1 {
  left: -5rem;
  top: 20%;
}
.detail-cast1 {
  width: 80%;
  margin: 0 auto;
}
.detail-info {
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-left: 3rem;
}
.detail-info h1 {
  font-family: "Montserrat", sans-serif;
  color: #e4ddbf;
  font-size: 2.5rem;
}
.detail-info h1 span {
  font-size: 1.8rem;
  margin-left: 0.5rem;
}
.detail-info span {
  font-family: "Montserrat", sans-serif;
  color: #e4ddbf;
}
.detail-info p {
  font-family: "Montserrat", sans-serif;
  color: #e4ddbf;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.detail-info-rating {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.detail-info-rating .detail-info-rating-average i {
  font-size: 1.8rem;
  color: #e4ddbf;
  margin-right: 0.5rem;
}
.detail-info-rating .detail-info-rating-average p {
  color: #e4ddbf;
}
.detail-info-rating .detail-info-rating-average h4 {
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  font-family: "Montserrat", sans-serif;
  color: #e4ddbf;
  font-size: 1.5rem;
}
.sitioWeb {
  margin-top: 1rem;
}
.sitioWeb a {
  color: #e4ddbf;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
.sitioWeb a i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.detail-info-rating-count p {
  color: #e4ddbf;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.detail-info-rating-count i {
  font-size: 1.8rem;
  margin-right: 0.5rem;
}
.detail-info-rating-count a {
  color: #e4ddbf;
  font-size: 1.4rem;
  margin-left: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
.production-companies p {
  margin-bottom: 0.5rem;
}
.production-companies span {
  font-size: 1.2rem;
}
.btn-back1 {
  margin: 4rem 35rem;
  font-size: 1.2rem;
  color: #e4ddbf;
  width: 30%;
  text-align: center;
  background-color: #04253a;
  border: 1px solid #04253a;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.detail-serie {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem;
  margin-left: 0;
  margin-top: 0;
}
.detail-serie img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}
.container-serie-detail {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 3;
  position: relative;
}
.container-serie-detail .img-fondo1 {
  width: 100%;
  height: 100%;
  background-color: #04253a;
  position: absolute;
  background-color: rgba(4, 37, 58, 0.9);
  z-index: 0;
}
.container-serie-detail .container-serie-detail-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.container-serie-detail .container-serie-detail-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -2;
}
.container-serie h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #e4ddbf;
  margin: 2rem -2rem;
  background-color: #04253a;
  padding: 0.5rem;
  border-radius: 5px;
  width: 20%;
  text-align: center;
}
.detail-info-buttons {
  margin-top: 1rem;
}
.detail-info-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #e4ddbf;
  background-color: #e4ddbf;
  color: #04253a;
  padding: 2px 10px;
}
.detail-info-buttons i {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.slide8 img {
  width: 9rem;
  border-radius: 10px;
  margin: 0.5rem;
}
.slide8 img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.slide8 h4 {
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  font-weight: 600;
}
.slide8 p {
  font-family: "Montserrat", sans-serif;
  color: #4c837a;
}
.activeSlide8 {
  transform: scale(1);
  opacity: 1;
}
.arrow3 {
  padding: 2.5rem;
  border-radius: 20%;
  font-size: 1.6rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.arrow3 svg {
  transition: color 0.5s;
  margin-top: 0.4rem;
}
.arrow3 svg:hover {
  color: #04253a;
}
@media screen and (max-width: 800px) {
  .arrow3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .arrow3 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .arrow3 {
    font-size: 0.8rem;
  }
}
.next3 {
  right: -5rem;
  top: 30%;
}
.prev3 {
  left: -5rem;
  top: 20%;
}
.detail-cast {
  width: 90%;
  margin: 0 auto;
}
.detail-info1 {
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-left: 3rem;
}
.detail-info1 h1 {
  font-family: "Montserrat", sans-serif;
  color: #e4ddbf;
  font-size: 2.5rem;
}
.detail-info1 h1 span {
  margin-left: 0.5rem;
}
.detail-info1 span {
  font-family: "Montserrat", sans-serif;
  color: #e4ddbf;
}
.detail-info1 p {
  font-family: "Montserrat", sans-serif;
  color: #e4ddbf;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.networks {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.networks img {
  width: 50%;
  height: 50%;
  margin: 0.5rem;
  border-radius: 0;
}
.detail-info-rating {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.detail-info-rating .detail-info-rating-average i {
  font-size: 1.8rem;
  color: #e4ddbf;
  margin-right: 0.5rem;
}
.detail-info-rating .detail-info-rating-average p {
  color: #e4ddbf;
}
.detail-info-rating .detail-info-rating-average h4 {
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  font-family: "Montserrat", sans-serif;
  color: #e4ddbf;
  font-size: 1.5rem;
}
.detail-info-rating-count p {
  color: #e4ddbf;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.detail-info-rating-count i {
  font-size: 1.8rem;
  margin-right: 0.5rem;
}
.detail-info-rating-count a {
  color: #e4ddbf;
  font-size: 1.4rem;
  margin-left: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
.production-companies p {
  margin-bottom: 0.5rem;
}
.production-companies span {
  font-size: 1.2rem;
}
.btn-back {
  margin: 4rem 35rem;
  font-size: 1.2rem;
  color: #e4ddbf;
  width: 30%;
  text-align: center;
  background-color: #04253a;
  border: 1px solid #04253a;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.created-by {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  align-items: center;
}
.created-by h5 {
  font-family: "Montserrat", sans-serif;
  color: #e4ddbf;
  font-size: 1.5rem;
  margin-right: 1rem;
  font-weight: 400;
}
.seasons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}
.seasons .seasons-container {
  width: 15%;
  margin-bottom: 2rem;
}
.seasons .seasons-container .img-container {
  width: 30vh;
  height: 50vh;
  margin-bottom: -2rem;
}
.seasons .seasons-container .img-container img {
  width: 100%;
  height: 90%;
  border-radius: 20px;
}
.seasons .seasons-container h4 {
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  font-size: 1.5rem;
  font-weight: 400;
}
.seasons .seasons-container p {
  font-family: "Montserrat", sans-serif;
  color: #4c837a;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.cast-container {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #e4ddbf;
  padding: 10px;
}
.cast-container .cast-detail {
  display: flex;
  width: 100%;
}
.cast-container .cast-detail .cast-img {
  width: 30%;
  margin: 0 auto;
}
.cast-container .cast-detail .cast-img img {
  width: 90%;
  height: auto;
  border-radius: 20px;
  margin: 1rem;
}
.cast-container .cast-detail .cast-info {
  margin: 1rem;
  width: 70%;
}
.cast-container .cast-detail .cast-info h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: #4c837a;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}
.cast-container .cast-detail .cast-info h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #04253a;
  margin-bottom: 1rem;
}
.cast-container .cast-detail .cast-info p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #4c837a;
  margin-bottom: 1rem;
}
.slide7 img {
  width: 9rem;
  border-radius: 10px;
  margin: 0.5rem;
}
.slide7 img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.slide7 h4 {
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  font-weight: 600;
}
.slide7 p {
  font-family: "Montserrat", sans-serif;
  color: #4c837a;
}
.cast-credits h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 1.5rem 76rem;
  border: 5px solid #04253a;
  border-radius: 10px;
  background-color: #04253a;
  color: #e4ddbf;
  width: 20%;
  font-weight: 600;
  font-size: 2rem;
}
.cast-credits-container {
  width: 65%;
  margin-left: 29rem;
}
.cast-credits-container h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #04253a;
  margin-left: 0.5rem;
}
.arrow7 {
  padding: 2.5rem;
  border-radius: 20%;
  font-size: 1.6rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.arrow7 svg {
  transition: color 0.5s;
  margin-top: 0.4rem;
}
.arrow7 svg:hover {
  color: #04253a;
}
@media screen and (max-width: 800px) {
  .arrow7 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .arrow7 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .arrow7 {
    font-size: 0.8rem;
  }
}
.next7 {
  right: -5rem;
  top: 20%;
}
.prev7 {
  left: -5rem;
  top: 20%;
}
.more-info-container {
  width: 25%;
  position: absolute;
}
.more-info-container h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #04253a;
  margin-left: 0.5rem;
}
.more-info-container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4c837a;
  margin-left: 0.5rem;
}
.genero {
  margin-top: 1rem;
}
.container-movies1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.container-movies1 .allMovies {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-top: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.container-movies1 .allMovies .card {
  transform: translate(0%, 0%);
  width: 22%;
  height: 35%;
  margin: 1rem;
}
.container-movies1 .allMovies .card .poster {
  position: relative;
  overflow: hidden;
}
.container-movies1 .allMovies .card .poster img {
  width: 100%;
}
.container-movies1 .allMovies .card .poster::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}
.container-movies1 .allMovies .card .details1 {
  position: absolute;
  padding: 1.3rem;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}
.container-movies1 .allMovies .card .details1 h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #e4ddbf;
}
.container-movies1 .allMovies .card .details1 .raiting {
  position: relative;
  padding: 1rem 0;
}
.container-movies1 .allMovies .card .details1 .raiting .fas {
  color: #f7f406;
  font-size: 1rem;
  margin-right: 0.2rem;
}
.container-movies1 .allMovies .card .details1 .raiting .far {
  color: #f7f406;
  font-size: 1rem;
  margin-right: 0.2rem;
}
.container-movies1 .allMovies .card .details1 .raiting span {
  font-size: 1rem 0;
  color: #e4ddbf;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.container-movies1 .allMovies .card .genres {
  position: relative;
  margin-top: 0.2rem;
}
.container-movies1 .search-bar {
  width: 50%;
  height: 5rem;
  padding: 1rem;
  position: absolute;
  top: 6rem;
}
.container-movies1 .search-bar form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.container-movies1 .search-bar form input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  border-radius: 10px;
  padding: 0.8rem;
  position: relative;
}
.container-movies1 .search-bar form input:focus {
  outline: none;
}
.container-movies1 .search-bar form input:active {
  outline: none;
}
.container-movies1 .search-bar form input::placeholder {
  color: #04253a;
  font-size: 1rem;
}
.container-movies1 .search-bar form button {
  width: 20%;
  height: 100%;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 400;
  margin-left: -0.8rem;
}
.container-movies1 .search-bar form button i {
  color: #04253a;
  font-size: 1.3rem;
}
.container-movies1 .search-bar form button i:hover {
  cursor: pointer;
  color: #4c837a;
  transition: 0.3s ease-in-out;
}
.allSeries {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem;
  margin-left: 0;
  margin-top: 0;
  flex-wrap: wrap;
}
.allSeries .serie {
  width: 20%;
  height: 100%;
  margin: 2rem;
  position: relative;
}
.allSeries .serie .serie-avg {
  top: -0.5rem;
  right: -0.5rem;
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #04253a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allSeries .serie .serie-avg p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #e4ddbf;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.allSeries .serie img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.allSeries .serie img:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  scale: 1.02;
}
.allSeries .serie h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #04253a;
  text-align: center;
  margin-top: 0.5rem;
}
.actors-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: #e4ddbf;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.actors-container .actor {
  width: 15%;
  height: 25rem;
  margin: 1rem 0.1rem;
  border: 1px solid #999;
  border-radius: 10px;
}
.actors-container .actor a {
  text-decoration: none;
}
.actors-container .actor:hover {
  scale: 1.02;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.actors-container .actor img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.actors-container .actor h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #04253a;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}
.actors-container .actor p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #4c837a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 1rem;
}
body {
  background-color: #e4ddbf;
}
