@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.nav-container {
  width: 100%;
  height: 4rem;
  background-color: #04253a;
  position: fixed;
  z-index: 50;
  top: 0;
}
@media (max-width: 768px) {
  .nav-container {
    width: 100%;
  }
}
.nav-container nav {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .nav-container nav {
    width: 100%;
  }
}
.nav-container nav .menu-hamburguer {
  display: none;
}
@media (max-width: 768px) {
  .nav-container nav .menu-hamburguer {
    display: flex;
    position: absolute;
    top: -1.9rem;
    font-size: 5rem;
    right: 2rem;
    cursor: pointer;
  }
  .nav-container nav .menu-hamburguer i {
    font-size: 2rem;
    color: #fff;
  }
}
.nav-container nav ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav-container nav ul {
    background-color: #04253a;
    z-index: 50;
    position: absolute;
    top: 4rem;
    left: -100%;
    width: 100%;
    height: 100vh;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    transition: 0.5s all ease;
  }
}
@media screen and (max-width: 768px) {
  .nav-container nav ul .menu-navbar {
    font-size: 1.5rem;
    width: 100%;
    height: 2rem;
    justify-content: center;
    align-items: center;
  }
}
.nav-container nav ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  list-style: none;
  font-size: 1.3rem;
}
.nav-container nav ul a:hover {
  background-color: #4c837a;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .nav-container nav ul a {
    height: 6rem;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
}
.nav-container nav ul a i {
  font-size: 1.4rem;
  margin-right: 0.5rem;
  color: #fff;
}
.nav-container nav .active {
  background-color: #4c837a;
}
.main-container {
  width: 100%;
  height: 40vh;
  position: relative;
}
@media (max-width: 768px) {
  .main-container {
    height: 25vh;
  }
}
.main-container main {
  background-color: rgba(76, 131, 122, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.main-container main h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
@media (max-width: 768px) {
  .main-container main h1 {
    font-size: 2rem;
    top: 10%;
    left: 2rem;
    margin-top: 0.8rem;
  }
}
.main-container main h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 4rem;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .main-container main h2 {
    font-size: 1.2rem;
    top: 45%;
    left: 2rem;
  }
}
.main-container main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  filter: grayscale(100%);
}
.container h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 1.5rem -10px;
  border: 5px solid #04253a;
  border-radius: 10px;
  background-color: #04253a;
  color: #fff;
  width: 25%;
  font-weight: 600;
}
@media (max-width: 768px) {
  .container h1 {
    font-size: 1.5rem;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0%;
  }
}
.movie-container {
  width: 95%;
  margin: 1rem auto;
  height: 80%;
  background-color: #fff;
  padding: 0.5rem;
}
@media (max-width: 768px) {
  .movie-container {
    width: 100%;
    height: auto;
    padding: 0;
  }
}
.movie-container img {
  border-radius: 10px;
}
.movie-container h4 {
  color: #04253a;
  font-family: Montserrat;
  margin-top: 1rem;
  font-weight: 600;
  font-size: large;
}
.slide {
  transform: scale(0.7);
  transition: transform 500ms;
  opacity: 0.5;
  position: relative;
}
.slide img {
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}
@media (max-width: 768px) {
  .slide img {
    width: 70%;
    height: auto;
  }
}
.activeSlide {
  transform: scale(1);
  opacity: 1;
}
.arrow {
  color: #04253a;
  padding: 0.5rem;
  border-radius: 20%;
  font-size: 2.6rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 768px) {
  .arrow {
    padding: 0;
    background-color: transparent;
  }
}
.arrow svg {
  transition: color 0.5s;
  margin-top: 0.4rem;
}
.arrow svg:hover {
  color: #04253a;
  scale: 1.3;
}
.next {
  right: -1.5rem;
  top: 40%;
}
@media (max-width: 768px) {
  .next {
    right: 0.5rem;
    color: #04253a;
  }
}
.prev {
  left: -1.5rem;
  top: 40%;
}
@media (max-width: 768px) {
  .prev {
    left: 0.5rem;
    color: #04253a;
  }
}
.container4 h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 1.5rem -10px;
  border: 5px solid #04253a;
  border-radius: 10px;
  background-color: #04253a;
  color: #fff;
  width: 25%;
  font-weight: 600;
}
@media (max-width: 768px) {
  .container4 h1 {
    font-size: 1.5rem;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0%;
  }
}
.serie-container {
  width: 95%;
  margin: 1rem auto;
  height: 80%;
  background-color: #fff;
  padding: 0.5rem;
}
@media (max-width: 768px) {
  .serie-container {
    width: 100%;
    height: auto;
    padding: 0;
  }
}
.serie-container img {
  border-radius: 10px;
}
.slide4 {
  transform: scale(0.7);
  transition: transform 500ms;
  opacity: 0.5;
}
.slide4 img {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .slide4 img {
    width: 70%;
  }
}
.activeSlide4 {
  transform: scale(1);
  opacity: 1;
}
.arrow4 {
  color: #04253a;
  padding: 0.5rem;
  border-radius: 20%;
  font-size: 2.6rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 768px) {
  .arrow4 {
    padding: 0;
    background-color: transparent;
  }
}
.arrow4 svg {
  transition: color 0.5s;
  margin-top: 0.4rem;
}
.arrow4 svg:hover {
  color: #04253a;
}
.next4 {
  right: -1.5rem;
  top: 40%;
}
@media (max-width: 768px) {
  .next4 {
    right: 0.5rem;
    color: #04253a;
  }
}
.prev4 {
  left: -1.5rem;
  top: 40%;
}
@media (max-width: 768px) {
  .prev4 {
    left: 0.5rem;
    color: #04253a;
  }
}
.detail-movie {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem;
  margin-left: 0;
  margin-top: 4.5rem;
}
@media (max-width: 768px) {
  .detail-movie {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
.detail-movie img {
  width: 100%;
  min-width: 10rem;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .detail-movie img {
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
    margin-left: 10%;
  }
}
.container-movie-detail {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 3;
  position: relative;
}
@media (max-width: 768px) {
  .container-movie-detail {
    width: 100%;
    height: 100%;
  }
}
.container-movie-detail .img-fondo {
  width: 100%;
  height: 100%;
  background-color: #04253a;
  position: absolute;
  background-color: rgba(4, 37, 58, 0.9);
  z-index: 0;
}
.container-movie-detail .container-movie-detail-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: size;
  background-position: cover;
  background-repeat: no-repeat;
}
.container-movie-detail .container-movie-detail-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.container-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .container-movie {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}
.container-movie h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin-top: 1rem;
  margin-left: -80rem;
  margin-bottom: 1rem;
  background-color: #04253a;
  padding: 0.5rem;
  border-radius: 5px;
  width: 20%;
  text-align: center;
}
@media (max-width: 768px) {
  .container-movie h2 {
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0%;
  }
}
.detail-info-buttons {
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .detail-info-buttons {
    text-align: center;
  }
}
.detail-info-buttons button {
  outline: none;
  border: none;
  background-color: transparent;
}
.detail-info-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  background-color: #fff;
  color: #04253a;
  padding: 2px 10px;
  border-radius: 5px;
}
.detail-info-buttons a:hover {
  background-color: #72afa5;
}
.detail-info-buttons i {
  font-size: 1.5rem;
  margin: 0.5rem;
}
@media (max-width: 768px) {
  .slide1 {
    width: 100%;
    height: 23rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.slide1 img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  margin: 0.5rem;
  box-shadow: 3px 3px 10px #000000;
  filter: grayscale(100%);
}
@media (max-width: 768px) {
  .slide1 img {
    margin-left: 4rem;
  }
}
.slide1 img:hover {
  transform: scale(1.05);
  cursor: pointer;
  filter: grayscale(0%);
}
.slide1 h4 {
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  font-weight: 600;
  margin-left: 0.5rem;
}
.slide1 p {
  font-family: "Montserrat", sans-serif;
  color: #4c837a;
  margin-left: 0.5rem;
}
@media (max-width: 768px) {
  .slide1 .name-actor h4 {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .slide1 .name-actor p {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .slide1 .name-actor {
    height: auto;
  }
}
.arrow1 {
  padding: 2.5rem;
  border-radius: 20%;
  font-size: 3rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 768px) {
  .arrow1 {
    padding: 0;
    font-size: 2rem;
  }
}
.arrow1 svg {
  transition: color 0.5s;
  margin-top: 0.4rem;
}
.arrow1 svg:hover {
  color: #04253a;
}
.next1 {
  right: -4rem;
  top: 20%;
}
@media (max-width: 768px) {
  .next1 {
    right: -0.1rem;
    top: 35%;
  }
}
.prev1 {
  left: -6rem;
  top: 20%;
}
@media (max-width: 768px) {
  .prev1 {
    left: 0rem;
    top: 35%;
  }
}
.detail-cast1 {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .detail-cast1 {
    text-align: center;
  }
}
.detail-info {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  margin-left: 3rem;
}
@media (max-width: 768px) {
  .detail-info {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0.2rem;
  }
}
.detail-info h1 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .detail-info h1 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .detail-info .runtime {
    margin-top: 0.5rem;
  }
}
.detail-info span {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
@media (max-width: 768px) {
  .detail-info span {
    font-size: 0.8rem;
  }
}
.detail-info p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-top: 1rem;
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  .detail-info p {
    font-size: 1rem;
  }
}
.detail-info .genres-movie {
  background-color: #4c837a;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.2rem 0.2rem;
}
.detail-info .tagline {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 600;
}
.detail-info-rating {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .detail-info-rating {
    width: 100%;
  }
}
.detail-info-rating .detail-info-rating-average {
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .detail-info-rating .detail-info-rating-average {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0;
    padding: 0;
  }
}
.detail-info-rating .detail-info-rating-average span {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .detail-info-rating .detail-info-rating-average span {
    font-size: 1.2rem;
  }
}
.detail-info-rating .detail-info-rating-average span i {
  font-size: 1.2rem;
  margin: 0.5rem;
  color: #4c837a;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .detail-info-rating .detail-info-rating-average span i {
    font-size: 1.2rem;
  }
}
.sitioWeb {
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .sitioWeb {
    margin-top: 0.5rem;
  }
}
@media (max-width: 768px) {
  .sitioWeb span {
    font-size: 1.2rem;
  }
}
.sitioWeb a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
.sitioWeb a i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
@media (max-width: 768px) {
  .sitioWeb a i {
    font-size: 1rem;
  }
}
.production-companies {
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .production-companies p {
    font-size: 1rem;
  }
}
.production-companies span {
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .production-companies span {
    font-size: 0.05rem;
  }
}
.btn-back1 {
  margin: 4rem 0;
  font-size: 1.2rem;
  color: #fff;
  width: 30%;
  text-align: center;
  background-color: #04253a;
  border: 1px solid #04253a;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
@media (max-width: 768px) {
  .btn-back1 {
    margin: 0;
    width: 70%;
  }
}
.btn-back1:hover {
  background-color: #144a6b;
  border: 1px solid #144a6b;
}
.detail-serie {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem;
  margin-left: 0;
  margin-top: 4.5rem;
}
@media (max-width: 768px) {
  .detail-serie {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
.detail-serie img {
  width: 100%;
  min-width: 10rem;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .detail-serie img {
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
    margin-left: 10%;
  }
}
.container-serie-detail {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 3;
  position: relative;
}
@media (max-width: 768px) {
  .container-serie-detail {
    width: 100%;
    height: 100%;
  }
}
.container-serie-detail .img-fondo1 {
  width: 100%;
  height: 100%;
  background-color: #04253a;
  position: absolute;
  background-color: rgba(4, 37, 58, 0.9);
  z-index: 0;
}
.container-serie-detail .container-serie-detail-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-size: size;
  background-position: cover;
  background-repeat: no-repeat;
}
.container-serie-detail .container-serie-detail-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -2;
  object-fit: cover;
}
.container-serie {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .container-serie {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}
.container-serie h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin-top: 1rem;
  margin-left: -80rem;
  margin-bottom: 1rem;
  background-color: #04253a;
  padding: 0.5rem;
  border-radius: 5px;
  width: 20%;
  text-align: center;
}
@media (max-width: 768px) {
  .container-serie h2 {
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0%;
  }
}
.detail-info-buttons {
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .detail-info-buttons {
    text-align: center;
  }
}
.detail-info-buttons button {
  outline: none;
  border: none;
  background-color: transparent;
}
.detail-info-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #4c837a;
  background-color: #4c837a;
  color: #fff;
  padding: 2px 10px;
}
.detail-info-buttons a:hover {
  background-color: #72afa5;
}
.detail-info-buttons i {
  font-size: 1.5rem;
  margin: 0.5rem;
}
@media (max-width: 768px) {
  .slide8 {
    width: 100%;
    height: 23rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.slide8 img {
  width: 70%;
  border-radius: 10px;
  margin: 0.5rem;
  object-fit: cover;
  box-shadow: 3px 3px 10px #000000;
  filter: grayscale(100%);
}
@media (max-width: 768px) {
  .slide8 img {
    margin-left: 4rem;
  }
}
.slide8 img:hover {
  transform: scale(1.05);
  cursor: pointer;
  filter: grayscale(0%);
}
.slide8 h4 {
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  font-weight: 600;
  margin-left: 0.5rem;
}
.slide8 p {
  font-family: "Montserrat", sans-serif;
  color: #4c837a;
  margin-left: 0.5rem;
}
@media (max-width: 768px) {
  .slide8 .name-actor1 h4 {
    font-size: 1.2rem;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .slide8 .name-actor1 p {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .slide8 .name-actor1 {
    height: auto;
  }
}
.arrow3 {
  padding: 2.5rem;
  border-radius: 20%;
  font-size: 3rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 768px) {
  .arrow3 {
    padding: 0;
    font-size: 2rem;
  }
}
.arrow3 svg {
  transition: color 0.5s;
  margin-top: 0.4rem;
}
.arrow3 svg:hover {
  color: #04253a;
}
.next3 {
  right: -1.5rem;
  top: 20%;
}
@media (max-width: 768px) {
  .next3 {
    right: -0.1rem;
    top: 35%;
  }
}
.prev3 {
  left: -5rem;
  top: 20%;
}
@media (max-width: 768px) {
  .prev3 {
    left: 0rem;
    top: 35%;
  }
}
.detail-cast {
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .detail-cast {
    text-align: center;
  }
}
.detail-info1 {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  margin-left: 3rem;
}
@media (max-width: 768px) {
  .detail-info1 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0.2rem;
  }
}
.detail-info1 h1 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .detail-info1 h1 {
    font-size: 2rem;
  }
}
.detail-info1 .tagline {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.detail-info1 .genres {
  background-color: #4c837a;
  margin-right: 0.5rem;
  padding: 0.2rem 0.2rem;
  border-radius: 5px;
}
.detail-info1 span {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.detail-info1 p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  .detail-info1 p {
    font-size: 1rem;
  }
}
.networks {
  display: flex;
  justify-content: left;
  align-items: center;
}
@media (max-width: 768px) {
  .networks {
    flex-direction: column;
    align-items: center;
  }
}
.networks img {
  width: 10%;
  height: auto;
  border-radius: 0;
  object-fit: cover;
  margin: 0 1rem;
}
@media (max-width: 768px) {
  .networks img {
    margin-bottom: 1rem;
  }
}
.detail-info-rating-average1 {
  width: 100%;
  margin: 1.5rem 0;
}
.detail-info-rating-average1 span {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.detail-info-rating-average1 i {
  font-size: 1.8rem;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: #fff;
  color: #4c837a;
  padding: 0.5rem;
  border-radius: 50%;
}
.detail-info-rating-average1 a {
  color: #fff;
  font-size: 1.4rem;
  margin-left: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.production-companies p {
  margin-bottom: 0.5rem;
}
.production-companies span {
  font-size: 1.2rem;
}
.btn-back1 {
  margin-top: 4rem;
  margin-left: 35rem;
  font-size: 1.2rem;
  color: #fff;
  width: 30%;
  text-align: center;
  background-color: #04253a;
  border: 1px solid #04253a;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.btn-back1:hover {
  background-color: #083f61;
}
@media (max-width: 768px) {
  .btn-back1 {
    margin: 0.5rem;
    width: 70%;
  }
}
.created-by {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  align-items: center;
}
@media (max-width: 768px) {
  .created-by {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .created-by .creador {
    margin-bottom: 1rem;
  }
}
.created-by .creador p {
  margin-bottom: 0.5rem;
}
.created-by .creador span {
  font-size: 1.2rem;
}
.created-by h5 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1rem;
  font-weight: 400;
}
.seasons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .seasons {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.seasons .seasons-container {
  width: 15%;
  height: 100%;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .seasons .seasons-container {
    width: 50%;
    margin-bottom: 1rem;
  }
}
.seasons .seasons-container .img-container {
  width: 100%;
  height: auto;
}
.seasons .seasons-container img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 3px 3px 10px #000000;
}
.seasons .seasons-container h4 {
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  font-size: 1.5rem;
  font-weight: 400;
}
.seasons .seasons-container p {
  font-family: "Montserrat", sans-serif;
  color: #4c837a;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.cast-container {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 10px;
  margin-top: 3.5rem;
}
@media (max-width: 768px) {
  .cast-container {
    width: 100%;
    padding: 0;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
  }
}
.cast-container .cast-detail {
  display: flex;
  width: 100%;
}
@media (max-width: 768px) {
  .cast-container .cast-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.cast-container .cast-detail .cast-img {
  width: 20%;
}
@media (max-width: 768px) {
  .cast-container .cast-detail .cast-img {
    width: 80%;
    margin-top: 4rem;
    padding: 0;
  }
}
.cast-container .cast-detail .cast-img img {
  width: 90%;
  height: auto;
  border-radius: 10px;
  margin: 1rem;
}
@media (max-width: 768px) {
  .cast-container .cast-detail .cast-img img {
    width: 100%;
    margin: 0;
  }
}
.cast-container .cast-detail .cast-img h2 {
  color: #04253a;
  font-family: Montserrat;
  font-size: medium;
  margin-left: 1rem;
  font-weight: 700;
}
.cast-container .cast-detail .cast-img p,
.cast-container .cast-detail .cast-img a {
  color: #04253a;
  font-family: Montserrat;
  font-size: medium;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.cast-container .cast-detail .cast-info {
  margin: 1rem;
  width: 100%;
}
@media (max-width: 768px) {
  .cast-container .cast-detail .cast-info {
    width: 95%;
    margin: 0.5rem;
  }
}
.cast-container .cast-detail .cast-info h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: #4c837a;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .cast-container .cast-detail .cast-info h1 {
    margin: 0;
  }
}
.cast-container .cast-detail .cast-info h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #04253a;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .cast-container .cast-detail .cast-info h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
}
.cast-container .cast-detail .cast-info p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #4c837a;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .cast-container .cast-detail .cast-info p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}
.slide7 img {
  width: 80%;
  border-radius: 10px;
  margin: 0.5rem;
}
.slide7 img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.slide7 h4 {
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  font-weight: 600;
}
.slide7 p {
  font-family: "Montserrat", sans-serif;
  color: #4c837a;
}
@media (max-width: 768px) {
  .cast-credits {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.cast-credits h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 1.5rem 76rem;
  border: 5px solid #04253a;
  border-radius: 10px;
  background-color: #04253a;
  color: #fff;
  width: 20%;
  font-weight: 600;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .cast-credits h1 {
    margin: 0.5rem;
    width: 100%;
  }
}
.cast-credits-container {
  width: 65%;
  margin-left: 29rem;
}
@media (max-width: 768px) {
  .cast-credits-container {
    width: 100%;
    margin-left: 0;
  }
}
.cast-credits-container .cast-credit-info h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #04253a;
  margin-left: 0.5rem;
}
.arrow7 {
  padding: 2.5rem;
  border-radius: 20%;
  font-size: 2.6rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.arrow7 svg {
  transition: color 0.5s;
  margin-top: 0.4rem;
}
.arrow7 svg:hover {
  color: #04253a;
}
.next7 {
  right: -3rem;
  top: 30%;
}
.prev7 {
  left: -5rem;
  top: 30%;
}
.more-info-container {
  width: 25%;
  position: absolute;
}
@media (max-width: 768px) {
  .more-info-container {
    width: 100%;
    position: relative;
  }
}
.more-info-container h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #04253a;
  margin-left: 0.5rem;
}
.more-info-container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4c837a;
  margin-left: 0.5rem;
}
.genero {
  margin-top: 1rem;
}
.container-movies1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5rem;
}
.container-movies1 .allMovies {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 768px) {
  .container-movies1 .allMovies {
    width: 100%;
    height: auto;
    padding: 0;
  }
}
.container-movies1 .allMovies .card {
  transform: translate(0%, 0%);
  width: 22%;
  height: 35%;
  margin: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 10px #000000;
}
@media (max-width: 768px) {
  .container-movies1 .allMovies .card {
    width: 40%;
    height: auto;
  }
}
.container-movies1 .allMovies .card .poster {
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .container-movies1 .allMovies .card .poster {
    width: 100%;
    height: 100%;
  }
}
.container-movies1 .allMovies .card .poster img {
  width: 100%;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .container-movies1 .allMovies .card .poster img {
    width: 100%;
    height: 100%;
  }
}
.container-movies1 .allMovies .card .poster::before {
  content: "";
  position: absolute;
  bottom: -10rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}
@media (max-width: 768px) {
  .container-movies1 .allMovies .card .poster::before {
    display: none;
  }
}
.container-movies1 .allMovies .card .details1 {
  position: absolute;
  padding: 1.3rem;
  width: 100%;
  height: 62%;
  bottom: -10rem;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}
@media (max-width: 768px) {
  .container-movies1 .allMovies .card .details1 {
    display: none;
  }
}
.container-movies1 .allMovies .card .details1 h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.container-movies1 .allMovies .card .details1 .stars-outer {
  position: relative;
  display: inline-block;
}
.container-movies1 .allMovies .card .details1 .stars-outer .stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.container-movies1 .allMovies .card .details1 .stars-inner:before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f7f406;
  font-size: 1.1rem;
}
.container-movies1 .allMovies .card .details1 .stars-outer:before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  font-size: 1.1rem;
}
.container-movies1 .allMovies .card .details1 .rating {
  width: 100%;
  display: flex;
  height: auto;
  margin: 0.5rem 0;
}
.container-movies1 .allMovies .card .details1 .rating span {
  font-size: 1.2rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-left: 0.5rem;
}
.container-movies1 .allMovies .card .genres {
  position: relative;
  margin-top: 0.2rem;
}
.container-movies1 .allMovies .card .genres span {
  background-color: #04253a;
  color: #fff;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  border-radius: 5px;
  margin: 12px 2px;
}
.container-movies1 .allMovies .card .info {
  color: #fff;
  position: absolute;
  bottom: 4rem;
}
.container-movies1 .allMovies .card .info span {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 600;
  margin-right: 1.5rem;
}
.container-movies1 .allMovies .card .info span i {
  color: #04253a;
  margin-right: 0.2rem;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 3px;
}
.container-movies1 .allMovies .card:hover .details1 {
  bottom: -2rem;
}
.container-movies1 .allMovies .card:hover .poster::before {
  bottom: 0rem;
}
.container-movies1 .allMovies .card:hover .poster img {
  filter: blur(5px);
  transform: translateY(-3rem);
}
@media (max-width: 768px) {
  .container-movies1 .allMovies .card:hover .poster img {
    filter: blur(0rem);
    transform: translateY(0rem);
  }
}
.container-movies1 .allMovies .card:hover .details1 h2 {
  text-overflow: 1;
  white-space: pre-wrap;
}
.container-movies1 .search-bar {
  width: 30%;
  height: 3rem;
  box-shadow: 3px 3px 10px #000000;
  margin-top: 2rem;
  border: 3px solid #04253a;
  border-radius: 0.5rem;
}
@media (max-width: 768px) {
  .container-movies1 .search-bar {
    width: 70%;
    margin: 2rem;
  }
}
.container-movies1 .search-bar form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.container-movies1 .search-bar form input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  border-radius: 10px;
  padding: 0.8rem;
  position: relative;
}
.container-movies1 .search-bar form input:focus {
  outline: none;
}
.container-movies1 .search-bar form input:active {
  outline: none;
}
.container-movies1 .search-bar form input::placeholder {
  color: #04253a;
  font-size: 1rem;
  font-weight: 600;
}
.container-movies1 .search-bar form button {
  width: 10%;
  height: 100%;
  border: none;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  background-color: #04253a;
  cursor: pointer;
  z-index: 1;
  margin-left: -0.8rem;
}
@media (max-width: 768px) {
  .container-movies1 .search-bar form button {
    width: 20%;
    margin-left: -0.5rem;
  }
}
.container-movies1 .search-bar form button i {
  color: #fff;
  font-size: 1.3rem;
}
.container-movies1 .search-bar form button i:hover {
  cursor: pointer;
  color: #4c837a;
  transition: 0.3s ease-in-out;
}
.container-movies1 .return {
  padding: 2rem;
}
.container-movies1 .return a {
  text-decoration: none;
}
.container-movies1 .return span {
  font-size: 1.2rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #04253a;
  border-radius: 5px;
  padding: 0.5rem 2.5rem;
  margin-bottom: 2rem;
}
.container-movies1 .return span:hover {
  cursor: pointer;
  background-color: #37615b;
}
.series-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5rem;
}
.series-container .allSeries {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 768px) {
  .series-container .allSeries {
    width: 100%;
    height: auto;
    padding: 0;
  }
}
.series-container .allSeries .serie {
  transform: translate(0%, 0%);
  width: 22%;
  height: 35%;
  margin: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 10px #000000;
}
@media (max-width: 768px) {
  .series-container .allSeries .serie {
    width: 40%;
    height: auto;
  }
}
.series-container .allSeries .serie .poster1 {
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .series-container .allSeries .serie .poster1 {
    width: 100%;
    height: 100%;
  }
}
.series-container .allSeries .serie .poster1 img {
  width: 100%;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .series-container .allSeries .serie .poster1 img {
    width: 100%;
    height: 100%;
  }
}
.series-container .allSeries .serie .poster1::before {
  content: "";
  position: absolute;
  bottom: -10rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}
@media (max-width: 768px) {
  .series-container .allSeries .serie .poster1::before {
    display: none;
  }
}
.series-container .allSeries .serie .details2 {
  position: absolute;
  padding: 1.3rem;
  width: 100%;
  height: 62%;
  bottom: -10rem;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}
@media (max-width: 768px) {
  .series-container .allSeries .serie .details2 {
    display: none;
  }
}
.series-container .allSeries .serie .details2 h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.series-container .allSeries .serie .details2 .stars-outer1 {
  position: relative;
  display: inline-block;
}
.series-container .allSeries .serie .details2 .stars-outer1 .stars-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.series-container .allSeries .serie .details2 .stars-inner1:before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f7f406;
  font-size: 1.1rem;
}
.series-container .allSeries .serie .details2 .stars-outer1:before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  font-size: 1.1rem;
}
.series-container .allSeries .serie .details2 .rating1 {
  width: 100%;
  display: flex;
  height: auto;
  margin: 0.5rem 0;
}
.series-container .allSeries .serie .details2 .rating1 span {
  font-size: 1.2rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-left: 0.5rem;
}
.series-container .allSeries .serie .genres1 {
  position: relative;
  margin-top: 0.2rem;
}
.series-container .allSeries .serie .genres1 span {
  background-color: #04253a;
  color: #fff;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  border-radius: 5px;
  margin: 12px 2px;
}
.series-container .allSeries .serie .info1 {
  color: #fff;
  position: absolute;
  bottom: 4rem;
}
.series-container .allSeries .serie .info1 span {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 600;
  margin-right: 1.5rem;
}
.series-container .allSeries .serie .info1 span i {
  color: #04253a;
  margin-right: 0.2rem;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 3px;
}
.series-container .allSeries .serie:hover .details2 {
  bottom: -2rem;
}
.series-container .allSeries .serie:hover .poster1::before {
  bottom: 0rem;
}
.series-container .allSeries .serie:hover .poster1 img {
  filter: blur(5px);
  transform: translateY(-3rem);
}
@media (max-width: 768px) {
  .series-container .allSeries .serie:hover .poster1 img {
    filter: blur(0rem);
    transform: translateY(0rem);
  }
}
.series-container .allSeries .serie:hover .details2 h2 {
  text-overflow: 1;
  white-space: pre-wrap;
}
.series-container .search-bar1 {
  width: 30%;
  height: 3rem;
  box-shadow: 3px 3px 10px #000000;
  margin-top: 2rem;
  border: 3px solid #04253a;
  border-radius: 0.5rem;
}
@media (max-width: 768px) {
  .series-container .search-bar1 {
    width: 70%;
    margin: 2rem;
  }
}
.series-container .search-bar1 form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.series-container .search-bar1 form input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  border-radius: 10px;
  padding: 0.8rem;
  position: relative;
  font-weight: 600;
}
.series-container .search-bar1 form input:focus {
  outline: none;
}
.series-container .search-bar1 form input:active {
  outline: none;
}
.series-container .search-bar1 form input::placeholder {
  color: #04253a;
  font-size: 1rem;
  font-weight: 600;
}
.series-container .search-bar1 form button {
  width: 10%;
  height: 100%;
  border: none;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  background-color: #04253a;
  cursor: pointer;
  z-index: 1;
  margin-left: -0.8rem;
}
@media (max-width: 768px) {
  .series-container .search-bar1 form button {
    width: 20%;
    margin-left: -0.5rem;
  }
}
.series-container .search-bar1 form button i {
  color: #fff;
  font-size: 1.3rem;
}
.series-container .search-bar1 form button i:hover {
  cursor: pointer;
  color: #4c837a;
  transition: 0.3s ease-in-out;
}
.series-container .return1 {
  padding: 2rem;
}
.series-container .return1 a {
  text-decoration: none;
}
.series-container .return1 span {
  font-size: 1.2rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #04253a;
  border-radius: 5px;
  padding: 0.5rem 2.5rem;
  margin-bottom: 2rem;
}
.series-container .return1 span:hover {
  cursor: pointer;
  color: #4c837a;
  transition: 0.3s ease-in-out;
}
.actors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin-top: 4.5rem;
}
.actors-container .search-bar2 {
  width: 30%;
  height: 3rem;
  margin-top: 1rem;
  border: 3px solid #04253a;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 10px #000000;
}
@media (max-width: 768px) {
  .actors-container .search-bar2 {
    width: 70%;
  }
}
.actors-container .search-bar2 form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.actors-container .search-bar2 form input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #04253a;
  border-radius: 10px;
  padding: 0.8rem;
  position: relative;
  font-weight: 600;
}
.actors-container .search-bar2 form input:focus {
  outline: none;
}
.actors-container .search-bar2 form input:active {
  outline: none;
}
.actors-container .search-bar2 form input::placeholder {
  color: #04253a;
  font-size: 1rem;
  font-weight: 600;
}
.actors-container .search-bar2 form button {
  width: 10%;
  height: 100%;
  border: none;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  background-color: #04253a;
  cursor: pointer;
  z-index: 1;
  margin-left: -0.8rem;
}
@media (max-width: 768px) {
  .actors-container .search-bar2 form button {
    width: 20%;
    margin-left: -0.5rem;
  }
}
.actors-container .search-bar2 form button i {
  color: #fff;
  font-size: 1.3rem;
}
.actors-container .search-bar2 form button i:hover {
  cursor: pointer;
  color: #4c837a;
  transition: 0.3s ease-in-out;
}
.actors-container .actors-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .actors-container .actors-list {
    width: 100%;
    height: auto;
    margin: 0;
  }
}
.actors-container .actors-list .actor {
  width: 15%;
  height: auto;
  margin: 1rem;
  transform: translate(0%, 0%);
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 10px #000000;
}
@media (max-width: 768px) {
  .actors-container .actors-list .actor {
    width: 40%;
    height: 15rem;
  }
}
.actors-container .actors-list .actor:hover {
  cursor: pointer;
  scale: 1.05;
  transition: 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .actors-container .actors-list .actor:hover {
    scale: unset;
  }
}
.actors-container .actors-list .actor .actor-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .actors-container .actors-list .actor .actor-img {
    width: 100%;
    height: 100%;
  }
}
.actors-container .actors-list .actor .actor-img img {
  width: 100%;
  height: auto;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .actors-container .actors-list .actor .actor-img img {
    width: 100%;
    height: 100%;
  }
}
.actors-container .actors-list .actor .actor-img::before {
  content: "";
  position: absolute;
  bottom: -10rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 55%, transparent);
  transition: 0.5s;
  z-index: 1;
}
.actors-container .actors-list .actor .actor-name {
  position: absolute;
  padding: 1.3rem;
  width: 100%;
  height: 62%;
  bottom: -9.5rem;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
  overflow: hidden;
}
@media (max-width: 768px) {
  .actors-container .actors-list .actor .actor-name {
    width: 100%;
    height: auto;
    bottom: -1.8rem;
    left: 0;
  }
}
.actors-container .actors-list .actor .actor-name h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
@media (max-width: 768px) {
  .actors-container .actors-list .actor .actor-name h3 {
    font-size: 1rem;
    text-overflow: none;
    white-space: normal;
  }
}
.footer-container {
  background-color: #04253a;
  padding: 10px 15px;
  margin-top: 20px;
  text-align: center;
  height: 10rem;
  margin-top: 2rem;
}
.footer-container footer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.footer-container footer h1 {
  font-size: 1.5rem;
  color: #fff;
  font-family: PT Sans, sans-serif;
  font-weight: 600;
}
.footer-container footer h4 {
  font-size: 1rem;
  color: #4c837a;
  font-family: PT Sans, sans-serif;
}
.footer-container footer p {
  font-size: 0.8rem;
  color: #4c837a;
  font-family: PT Sans, sans-serif;
}
.footer-container footer span {
  width: 100%;
}
.footer-container footer span a {
  font-size: 2rem;
  margin-left: 3rem;
  color: #fff;
}
@media (max-width: 768px) {
  .footer-container footer span a {
    font-size: 2rem;
    margin-left: 1.7rem;
  }
}
.footer-container footer span a i {
  transition: color 300ms ease;
}
.footer-container footer span a #linkedin:hover {
  color: #0177b5;
}
.footer-container footer span a #github:hover {
  color: #333;
}
.footer-container footer span a #behance:hover {
  color: #1769ff;
}
.footer-container footer img {
  width: 10%;
  margin-bottom: 4px;
  filter: grayscale(100%);
}
.footer-container footer img:hover {
  filter: grayscale(0%);
}
@media (max-width: 768px) {
  .footer-container footer img {
    width: 40%;
  }
}
.loader {
  border: 10px solid #fff;
  border-top: 10px solid #04253a;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
body {
  background-color: #fff;
  font-size: 100%;
}
